/* 
COLOURS
********************************/
$cFaded: #f1ede7;
$cFadedDark: #cdc0b2;
$cFadedExtraDark: #9d9584;
$cFadedLight: #f1ede7;

$cWhite: #fff;
$cGreyLight: #e0e0e0;
$cGrey: #999;
$cGreyDark: #747474;
$cGreyDarker: #666;
$cBlack: #343434;

$cOrangeFaded: #e77d015e;
$cOrange: #fb8800;
$cOrangeDark: #e77d01;
$cOrangeBrown: #be4e05;

$cGreen: #1bab3a;

$cBoxShadowBig: 0px 0px 25px rgba(0, 0, 0, 0.2);
