@import './colours.scss';

/* 
Font
********************************/
html {
  font-family: 'Montserrat', sans-serif;
}

/* 
App Layout
********************************/
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  // overflow: hidden;
  // box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: row;
}

section.app {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 76px auto;
  @media (min-width: 800px) {
    height: 100%;
    display: flex;
    width: 100%;
  }

  div.kalindi {
    width: 100%;
  }
}

#screen {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#main {
  transition: margin-right 0.5s;
  background-color: #666;
  width: 100%;
  @media (min-width: 800px) {
    display: flex;
    //flex: Grow | Shrink | Basis
    flex: 1;
  }
}

div.alert {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  background-color: orangered;
  padding: 20px;
  border-radius: 40px;
}

/* 
Main Menu
********************************
********************************/

section.mainMenu {
  display: none;
  background-color: $cFaded;
  padding: 10px;
  width: 100%;

  @media (min-width: 800px) {
    display: flex;
    flex-direction: column;
    width: 270px;
  }

  nav.venueButton {
    display: grid;
    grid-template-columns: 50px auto 15px;
    background-color: $cWhite;
    border-radius: 50px;
    align-items: center;
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px;
    font-size: 16px;

    cursor: pointer;
    div {
      display: flex;
      align-items: center;
    }

    div:nth-child(2) {
      font-weight: 600;
    }
  }

  nav.menu {
    margin-top: 20px;
    border-bottom: 1px solid $cFadedDark;
    padding-bottom: 20px;
    flex-direction: column;

    a {
      display: grid;
      grid-template-columns: 30px auto;
      height: 44px;
      color: $cGrey;
      text-decoration: none;
      &:visited,
      &:focus,
      &:hover {
        color: $cGreyDarK;
      }
      span {
        display: flex;
        align-items: center;
        font-size: 16px;
      }
    }
  }

  nav.subMenu {
    margin-top: 20px;
    a {
      display: block;
      padding: 5px 0px;
      text-decoration: none;
      color: $cBlack;
      font-size: 12px;

      &:visited,
      &:focus,
      &:hover {
        color: $cGreyDarK;
      }
    }
  }
}

section.deviceMenu {
  display: grid;
  grid-template-columns: 270px auto;
  grid-template-areas: 'button toggle';
  background-color: $cFaded;
  flex: 0 0 50px;
  flex-direction: row;
  padding: 10px;
  transition: left 3s;

  @media (min-width: 800px) {
    display: none;
    flex-direction: column;
  }

  nav.venueButton {
    display: grid;
    grid-area: button;
    grid-template-columns: 50px auto 15px;
    background-color: $cWhite;
    border-radius: 50px;
    align-items: center;
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px;
    font-size: 16px;

    cursor: pointer;
    div {
      display: flex;
      align-items: center;
    }

    div:nth-child(2) {
      font-weight: 600;
    }
  }

  nav.toggle {
    grid-area: toggle;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    span {
      font-size: 40px;
    }
  }
}

nav.menu {
  margin-top: 20px;
  border-bottom: 1px solid $cFadedDark;
  padding-bottom: 20px;

  a {
    display: grid;
    grid-template-columns: 30px auto;
    height: 44px;
    color: $cGrey;
    text-decoration: none;
    &:visited,
    &:focus,
    &:hover {
      color: $cGreyDarK;
    }
    span {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-left: 20px;
    }
  }
}

nav.subMenu {
  margin-top: 20px;
  a {
    display: block;
    padding: 5px 0px;
    text-decoration: none;
    color: $cBlack;
    font-size: 12px;

    &:visited,
    &:focus,
    &:hover {
      color: $cGreyDarK;
    }
  }
}

section.deviceToggleMenu {
  position: absolute;
  width: 250px;
  top: 76px;
  right: -230px;
  height: calc(100vh - 76px);
  background-color: $cFaded;
  display: none;

  nav.menu {
    margin: 0px 10px 10px;
    padding-top: 20px;
    border-top: 1px solid $cFadedDark;
    a {
      grid-template-columns: auto 30px;
      grid-template-areas: 'menuName ...';
      span {
        grid-area: menuName;
        justify-content: flex-end;
        padding-right: 20px;
      }
    }
  }

  nav.subMenu {
    margin: 10px;
    text-align: right;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
}

section.deviceToggleMenu.active {
  width: 250px;
  right: 0px;
  display: block;
  transition: 1s ease-in-out;

  @media (min-width: 800px) {
    display: none;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 76px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: $cWhite;
  cursor: pointer;
}

// ============================
//
// Test
//
// ============================

div.container {
  // height: 100%;
  // display: flex;
  // flex-direction: row;

  // div:first-child {
  //   display: flex;
  //   width: 100px;
  //   background-color: #818181;
  // }

  // div:last-child {
  //   flex: 1;
  //   background-color: rosybrown;
  // }
}
