@import './colours.scss';

/* 
Font
********************************/
html {
  font-family: 'Montserrat', sans-serif;
}

/* 
App Layout
********************************/
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
span {
  font-size: 16px;
  color: #000;
  display: block;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: row;
}

section.app {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 76px auto;
  @media (min-width: 800px) {
    height: 100%;
    display: flex;
    width: 100%;
  }

  div.kalindi {
    width: 100%;
  }
}

section.app.public {
  grid-template-rows: auto;

  div#mySidenav {
    top: 0px;
  }
}

#screen {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#main {
  transition: margin-right 0.5s;
  // background-color: #666;
  width: 100%;
  @media (min-width: 800px) {
    display: flex;
    //flex: Grow | Shrink | Basis
    flex: 1;
  }
}

.screenData {
  margin-left: 290px;
  display: flex;
  width: 100%;
}

div.alertBox {
  position: absolute;
  bottom: -50px;
  left: 20px;
  transition: transform 500ms ease-in-out;
}

div.alertBox.alertStart {
  transform: translate(0px, -170px);
}

div.alert {
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  background-color: $cOrangeDark;
  color: $cWhite;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

div.alert-success {
  background-color: $cGreen;
}
div.alert-error {
  background-color: $cOrangeDark;
}

/* 
Menus
********************************
********************************/

section.mainMenu {
  display: none;
  background-color: $cFaded;
  padding: 10px;
  width: 100%;

  @media (min-width: 800px) {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 100%;
    position: fixed;
  }

  nav.venueButton {
    display: grid;
    grid-template-columns: 35px auto 15px;
    background-color: $cWhite;
    border-radius: 50px;
    align-items: center;
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
    width: 270px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);

    div {
      display: flex;
      align-items: center;
    }

    div:nth-child(2) {
      font-weight: 400;
      padding-left: 8px;
    }

    img {
      width: 100%;
    }
  }

  nav.menu {
    margin-top: 20px;
    border-bottom: 1px solid $cFadedDark;
    padding-bottom: 20px;
    flex-direction: column;

    a {
      display: grid;
      grid-template-columns: 30px auto;
      height: 44px;
      text-decoration: none;
      span {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: $cGreyDark;
        font-weight: 400;
      }

      // &:visited,
      &:focus,
      &:hover {
        span {
          color: $cBlack;
        }
      }
    }
  }

  nav.subMenu {
    margin-top: 20px;
    a,
    span {
      display: block;
      padding: 5px 0px;
      text-decoration: none;
      color: $cGreyDark;
      font-size: 12px;
      cursor: pointer;
      font-weight: 400;

      // &:visited,
      &:focus,
      &:hover {
        color: $cBlack;
      }
    }
  }
}

section.deviceMenu {
  display: grid;
  grid-template-columns: 270px auto;
  grid-template-areas: 'button toggle';
  background-color: $cFaded;
  flex: 0 0 50px;
  flex-direction: row;
  padding: 10px;
  transition: left 3s;

  @media (min-width: 800px) {
    display: none;
    flex-direction: column;
  }

  nav.venueButton {
    display: grid;
    grid-area: button;
    grid-template-columns: 50px auto 15px;
    background-color: $cWhite;
    border-radius: 50px;
    align-items: center;
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px;
    font-size: 16px;

    cursor: pointer;
    div {
      display: flex;
      align-items: center;
    }

    div:nth-child(2) {
      font-weight: 600;
    }
  }

  nav.toggle {
    grid-area: toggle;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    span {
      font-size: 40px;
    }
  }
}

nav.toggle.publicMenu {
  grid-area: toggle;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  span {
    font-size: 40px;
  }
}

nav.menu {
  margin-top: 20px;
  border-bottom: 1px solid $cFadedDark;
  padding-bottom: 20px;

  a {
    display: grid;
    grid-template-columns: 30px auto;
    height: 44px;
    color: $cGrey;
    text-decoration: none;
    &:visited,
    &:focus,
    &:hover {
      color: $cGreyDarker;
    }
    span {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-left: 20px;
    }
  }
}

nav.subMenu {
  margin-top: 20px;
  a {
    display: block;
    padding: 5px 0px;
    text-decoration: none;
    color: $cBlack;
    font-size: 12px;

    &:visited,
    &:focus,
    &:hover {
      color: $cGreyDarker;
    }
  }
}

section.deviceToggleMenu {
  position: absolute;
  width: 250px;
  top: 76px;
  right: -230px;
  height: calc(100vh - 76px);
  background-color: $cFaded;
  display: none;

  nav.menu {
    margin: 0px 10px 10px;
    padding-top: 20px;
    border-top: 1px solid $cFadedDark;
    a {
      grid-template-columns: auto 30px;
      grid-template-areas: 'menuName ...';
      span {
        grid-area: menuName;
        justify-content: flex-end;
        padding-right: 20px;
      }
    }
  }

  nav.subMenu {
    margin: 10px;
    text-align: right;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
}

section.deviceToggleMenu.active {
  width: 250px;
  right: 0px;
  display: block;
  transition: 1s ease-in-out;

  @media (min-width: 800px) {
    display: none;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 76px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }
  span.closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: $cWhite;
    cursor: pointer;
  }
  span.link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: #f1f1f1;
    }
  }
}

nav.mainVenueMenu {
  display: none;
  position: absolute;
  width: 320px;
  background-color: $cWhite;
  border-radius: 28px;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02),
    0 4px 36px 4px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease, opacity 0.3s ease;
  top: 10px;
  left: 10px;
  padding: 16px;

  ul {
    padding-left: 10px;
  }

  ul.venueMenuHeader {
    display: grid;
    grid-template-columns: 45px auto 50px;
    grid-template-rows: 50px;
    margin-bottom: 15px;
    grid-gap: 10px;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: $cFadedExtraDark;
    }

    img {
      width: 100%;
    }

    li:last-child {
      cursor: pointer;
      justify-content: center;
      border-radius: 50%;

      &:hover {
        background-color: $cFaded;
        color: $cBlack;
      }
    }
  }

  ul.venueMenuList {
    li {
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding-left: 14px;
      font-size: 20px;
      margin-bottom: 2px;
      cursor: pointer;
      font-weight: 400;

      &:hover {
        background-color: $cFaded;
      }
    }

    li.selected {
      background-color: $cFaded;

      span:first-child {
        flex: 1;
        font-size: 20px;
        font-weight: 400;
      }
      span:last-child {
        padding-right: 20px;
        color: $cGreen;
        font-weight: 400;
      }
    }
  }

  ul.addVenueLink {
    margin: 10px 0px 20px;
  }

  .actionLink {
    // padding-left: 14px;
    font-size: 13px;
    font-weight: bold;
    color: $cOrangeDark;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $cOrange;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $cFaded;
    margin: 1em 0;
    padding: 0;
  }

  ul.accountAddress {
    li {
      font-size: 13px;
      padding-bottom: 20px;

      span {
        font-weight: 400;
        display: inline;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }

  ul.actionLinks {
    li:last-child,
    a {
      display: grid;
      grid-template-columns: 40px auto;
      grid-template-rows: 30px;
      cursor: pointer;
    }

    span {
      display: flex;
      align-items: center;
    }
  }

  ul.terms {
    li {
      font-size: 13px;
      font-weight: 400;
      margin: 20px 0px 10px;
      color: $cFadedExtraDark;
      // font-family: Averta, sans-serif;
    }
  }
}

section.accountMenu {
  padding: 0px 20px;
  margin-top: 30px;
  border-right: 1px solid $cFaded;
  max-height: 400px;

  h3 {
    width: 200px;
    font-size: 20px;
    font-weight: bold;
  }

  ul {
    margin-top: 20px;

    li {
      border-radius: 5px;
      padding-left: 15px;
      margin-bottom: 2px;
      a {
        font-weight: 400;
        cursor: pointer;
        color: $cGreyDark;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
      }

      &:hover {
        background-color: $cFaded;
        font-weight: 400;
        color: $cBlack;
      }
    }

    li.selected {
      background-color: $cFaded;
      color: #000;
    }
  }
}

div.titleAndButtons {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 50px;
  margin-bottom: 30px;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      background-color: $cOrangeDark;
      color: $cWhite;
      padding: 5px 22px;
      display: flex;
      width: 180px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      cursor: pointer;
    }
  }
}

/* 
Form Inputs
********************************
********************************/

span.errorMsg {
  font-size: 13px;
  color: #fb8800;
  display: block;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
}

span.errorMsg.pageError {
  text-align: center;
  padding-left: 0px;
  padding-top: 10px;
  font-size: 16px;
}

form {
  input[type='text'],
  input[type='password'] {
    box-sizing: border-box;
  }

  label.textInput {
    input {
      width: 100%;
      padding: 10px;
      outline: 0px;
      border: 1px solid $cFadedDark;
      border-radius: 5px;
    }
  }

  label.textInputHorizontal {
    display: grid;
    grid-template-areas: 'label input' '... message';
    grid-template-columns: 160px auto;
    grid-template-rows: 40px;
    margin-bottom: 10px;

    span.label {
      grid-area: label;
    }

    input {
      grid-area: input;
      width: 100%;
      padding: 10px;
      outline: 0px;
      border: 1px solid $cFadedDark;
      border-radius: 5px;
    }

    input::placeholder {
      color: $cFadedExtraDark;
      font-size: 14px;
    }

    span.message {
      grid-area: message;
    }
  }

  a {
    font-size: 13px;
    font-weight: bold;
    color: $cGreyDarker;
    text-decoration: none;
  }

  button {
    width: 100%;
    height: 50px;
    color: #fff;
    border: 0;
    border-radius: 25px;
    font-weight: 400;
    background-color: $cOrangeDark;
    outline: 0px;
    cursor: pointer;
    margin-top: 40px;

    &.orange {
      background-color: $cOrangeDark;
    }
    &.green {
      background-color: $cGreen;
    }
  }
}

div.subLink,
a.subLink {
  text-align: center;
  cursor: pointer;
  span {
    color: $cBlack;
    font-size: 14px;
    line-height: 20px;
  }
  span:first-child {
    font-weight: 100;
  }
  span:last-child {
    font-weight: bold;
    text-decoration: underline;
  }
}

div.selectInput {
  cursor: pointer;
  height: 40px;
  display: grid;
}

div.inlineFormField {
  display: grid;
  grid-template-columns: auto 110px;
  grid-template-rows: 40px;
  margin-bottom: 10px;
  grid-gap: 15px;
}
