@import './colours.scss';

section.recipe {
  padding: 30px 20px 0px 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  height: 2000px;

  div.recipeHeader {
    // display: grid;
    // grid-template-columns: auto 420px;
    margin-bottom: 30px;

    div.recipeName {
      display: inline-block;
      form {
        height: 50px;
        margin-bottom: 4px;
      }
      input {
        font-size: 2em;
        font-weight: bold;
        width: 220px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 50px;
      }
    }
    h1 {
      margin-top: 2px;
      display: inline-flex;
      align-items: center;
      height: 50px;
      padding: 0px 10px;
      border-radius: 10px;
      border: 1px solid $cWhite;

      &:hover {
        background-color: $cFaded;
        cursor: pointer;
      }
    }

    div.twoButtons {
      display: grid;
      grid-template-columns: 200px 200px;
      grid-gap: 20px;
      justify-content: end;
      float: right;
    }
  }

  section.recipeDetails {
    div.recipeDetailsHeader {
      padding: 15px;
      display: grid;
      grid-template-columns: auto 350px;

      div.selectRecipe {
        width: 350px;
        span {
          padding-top: 8px;
          color: $cOrangeDark;
          font-weight: 400;
        }
      }

      form label.textInputHorizontal {
        grid-template-areas: 'label input' 'message message';

        span.errorMsg {
          text-align: right;
        }
      }
    }

    div.recipeProcess {
      ul.recipeProcessHeader {
        display: grid;
        grid-template-columns: 50px auto 100px 140px 80px 50px;
        height: 40px;
        background-color: $cFadedLight;
        border-top: 1px solid $cGreyLight;
        border-bottom: 1px solid $cGreyLight;

        li {
          display: flex;
          align-items: center;
          font-weight: 400;

          &:nth-child(4) {
            justify-content: flex-end;
            padding-right: 40px;
          }

          &:nth-child(3),
          &:nth-child(5) {
            justify-content: flex-end;
            padding-right: 5px;
          }
        }
      }

      ul.recipeProcessItems {
        padding: 10px 0px;
        li {
          grid-template-columns: 50px auto 100px 140px 80px 50px;
          display: grid;
          height: 55px;

          div {
            align-items: center;
          }

          div.processIcon,
          div.ingredientIcon {
            display: flex;
            cursor: pointer;
            // margin-right: 15px;

            img {
              margin: auto;
              opacity: 0.6;
            }

            &:first-child {
              img {
                width: 25px;
              }
            }

            &:last-child {
              img {
                width: 18px;
              }
            }
          }

          div.processItem {
            display: flex;
            margin-right: 15px;
          }

          div.ingredientSelect {
            display: flex;
            margin-right: 15px;
          }

          div.processQuantity,
          div.ingredientQuantity {
            display: flex;
            margin-right: 5px;
          }
          div.processUnit,
          div.ingredientUnit {
            margin-top: 8px;
          }
          div.processTotal,
          div.ingredientTotal {
            display: flex;
            padding-right: 5px;
            justify-content: flex-end;
          }
        }
      }

      ul.recipeProcessButtons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid $cFaded;
        border-top: 1px solid $cFaded;
        height: 50px;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid $cFaded;
          cursor: pointer;

          &:last-child {
            border-right: 0px solid $cFaded;
          }

          &:hover {
            img {
              opacity: 1;
            }
            span {
              color: $cBlack;
            }
          }

          img {
            width: 22px;
            margin-right: 10px;
            opacity: 0.6;
          }

          span {
            font-size: 14px;
            font-weight: 400;
            color: $cGrey;
          }
        }

        li.highlight {
          background-color: $cOrangeDark;
          img {
            filter: invert(100%);
            opacity: 1;
          }
          span {
            color: $cWhite;
          }
        }
      }

      div.recipeDetailsFooter {
        margin-top: 30px;
        padding: 0px 15px;
        display: flex;
        justify-content: flex-end;

        li {
          display: grid;
          grid-template-columns: 110px 100px;
          margin-bottom: 15px;
          grid-gap: 15px;
          span {
            text-align: right;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      // ul.recipeProcessTotal {
      //   margin-top: 20px;
      //   padding-right: 15px;
      //   display: grid;
      //   justify-content: flex-end;

      //   li {
      //     display: grid;
      //     grid-template-columns: 180px 100px;
      //     height: 30px;
      //     span {
      //       text-align: right;
      //       font-size: 14px;
      //       font-weight: 400;
      //     }
      //   }
      // }
    }
  }

  section.recipeResults {
    div.resultsForm {
      padding: 15px;
      display: grid;
      grid-template-columns: 260px auto;
      grid-gap: 20px;
      label {
        margin-bottom: 0px;
      }
      p {
        display: flex;
        align-items: center;
      }
    }

    h3 {
      text-align: center;
      font-size: 18px;
      border-top: 1px solid $cFaded;
      border-bottom: 1px solid $cFaded;
      padding: 16px 2px;
      color: $cGrey;
      margin: 0px 0px 30px;
    }

    div.resultsData {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 15px 15px 40px;
      ul {
        li.resultsHeaderIcon {
          display: flex;
          justify-content: center;
          padding-bottom: 30px;
          img {
            width: 80px;
          }
        }

        ul {
          margin-top: 15px;
        }

        li {
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: 20px;
          max-width: 230px;
          margin: 0px auto;

          p:first-child {
            color: $cGrey;
          }
          p:last-child {
            text-align: right;
            color: $cBlack;
          }
          p.resultSectionTitle {
            text-align: left;
            font-weight: 400;
            color: $cBlack;
          }
        }
      }
    }
  }
}
